.background{
  background-color: #6C5CBD;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


form{
  display: flex;
  flex-direction: column;
}
.form-container{
  display: flex;
  justify-content: space-around;
}
.left-side{
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side{
  width: 40%;
  margin-left: 25px;
}
.input-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.input-container-right{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
  margin-left: 0px;
}
label{
  margin-bottom: 10px;
  margin-top: 5px;
  font-family:'Montserrat', sans-serif;
}
input{
  width: 80%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
input:focus{
  outline: 0;
}
.address{
  width: 100%;
}
.select-state{
  width: 83%;
}
fieldset{
  margin-bottom: 40px;
  padding: 10px;
}
.button{
  align-self: center;
  margin-top: 20px;
}
.button .submit{
  width: 400px;
  height: 50px;
  background-color: #6C5CBD;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

@media screen  and (max-width:576px){
  .background{
    height: 170vh;
    /* overflow: scroll; */
  }
  .form-container{
    flex-direction: column;
  }
  .left-side{
    width: 100%;
    height: 75vh;
  }
  .right-side{
    width: 100%;
    margin-left: 0;
  }
  .address{
    width: 90%;
  }
  .input-container-right{
    justify-content: space-between;
  }
  label{
    margin-right: 5px;
  }
  .button{
    margin-top: 0px;
  }
  .button .submit{
    width: 200px;
  }
}
.my-modal{
  position: fixed;
  z-index: 1;
  vertical-align: middle;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content{
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
}
.close{
  /* position: absolute; */
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  margin-top: 5px;

}
.close:hover,.close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}